*.class
logback.xml

#package file
*.jar
*.ear

#kdiff3
*.orig

#maven
target/

#eclipse
.setting/
.project
.classpath

#idea
.idea/
/idea/
*.ipr
*.iml
*.iws

#tempfile
*.log
*.cache
*.diff
*.patch
*.tmp

#system file
.DS_Store
Thumbs.db